/* Body */
body{
	padding: 0px;
	margin: 0px;
	background-image: url(imagens/fundo.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Verdana, Geneva, Arial, sans-serif;
}

/* Header */
header {
	width: 100%;
    height: 15%;
    position: absolute;
    background: #ECECEC;
    z-index: 2;
}

/* Header - Logotipo */
#logo {
	width: 180px;
    height: 70px;
    float: left;
    padding: 13px 100px;
}

/* Header - Menu */
.menu {
	float: right;
	top: 23px;
	right: 70px;
	position: relative;
}
.menu li {
    display: inline-block;
    position: relative;
}

.menu li a{
	text-decoration: none;
	padding: 25px;
	font-weight: bold;
}

/* Section - Fundo */
.fundo {
	width: 80%;
	height: 700px;
	margin: auto;
	position: relative;
	top: 190px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

/* Conteúdo 1 do fundo */
#item1{
	width: 80%;
	height: 200px;
	top: 20px;
	position: relative;
	margin: auto;
}

#note{
	width: 35%;
	height: 200px;
}

#texto1{
	width: 63%;
    position: absolute;
    top: 5px;
    right: 0;	
}

/* Conteúdo 2 do fundo */
#item2{
	width: 80%;
	height: 200px;
	top: 40px;
	position: relative;
	margin: auto;
}

#mouse{
	width: 35%;
	height: 200px;
}

#texto2{
	width: 62%;
    position: absolute;
    top: 10px;
    right: 0;
}

/* Conteúdo 3 do fundo */
#item3{
	width: 80%;
	height: 200px;
	top:  60px;
	position: relative;
	margin: auto;
}

#fone{
	width: 35%;
	height: 200px;
}

#texto3{
	width: 60%;
    position: absolute;
    top: 10px;
    right: 0;
}

/* Footer */
footer {
	width: 100%;
    top: 301px;
    padding: 10px 0px 10px 0px;
    background: #ECECEC;
    position: relative;
    text-align: center;
}