body {
	margin: 0;
	padding: 0;
}

/* Header */
header {
	width: 100%;
	height: 600px;
	background-image: url(imagens/rede.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
}

/* Header - Fundo */
.logo-menu {
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	display: block;
	margin: 0 auto;
}

#home {
	width: 80%;
	height: 100px;
	display: block;
	margin: 0 auto;
}
/* Header - Logotipo */
#logotipo {
	width: 30%;
    height: 100px;
    float: left;
    position: absolute;
}

#logo {
	width: 40%;
    height: 80px;
    padding: 5px;
}

/* Header - Menu */
#menu {
	width: 45%;
    height: 100px;
    float: right;
}

#menu ul{
	list-style-type: none;
    margin: 0 auto;
    padding: 20px;
}

#menu li{
	display: inline-block;
    padding: 20px 20px;
}

#menu li a{
	text-decoration: none;
	font-family: arial;
    font-weight: bold;
    color: black;
}

#menu li a:hover{
	text-shadow: 2px 2px 2px rgba(125, 125, 125, 0.6);
}

/* Header - Fundo para imagem e texto */
.bem-vindo {
	width: 60%;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.7);
	display: block;
	margin: 0 auto;
	margin-top: 155px;
	position: relative;
}

/* Header - Fundo para a imagem */
#imagem {
	width: 60%;
	height: 400px;
}

/* Header - Imagem */
#suporte {
	width: 100%;
    height: 400px;
}

/* Header - Texto */
#texto {
	width: 37%;
    height: 100px;
    margin-top: -410px;
    margin-right: 10px;
    float: right;
}
#texto h1 {
	font-family: "Arimo", sans-serif;
	font-size: 30px;
}
#texto p {
	font-size: 16px;
	font-family: "Arimo", sans-serif;
}

/* Section - Fundo, Sobre e Conteúdo */
.sobre{
	width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 600px;
}
#conteudo-sobre {
	width: 80%;
	height: 365px;
	display: block;
	margin: 0 auto;
}
#conteudo-sobre h1 {
	text-align: center;
    font-size: 35px;
    font-family: "Arimo", sans-serif;
}
hr {
	width: 50%;
}
#conteudo {
	width: 100%;
    height: 300px;
}
#conteudo p {
	width: 48%;
	font-size: 17px;
	font-family: "Arimo", sans-serif;
}
#log {
	width: 50%;
    height: 270px;
    float: right;
    margin-top: -271px;
}
/*
 Section - Serviços e Imagens 
.fundo2 {
	width: 100%;
    height: 400px;
    background-color: rgba(169, 167, 167, 0.4);
    position: absolute;
    top: 600px;
    font-family: verdana;
    font-weight: bold;
}
#servicos {
	width: 80%;
	height: 363px;
	top: 20px;
	background-color: ;
	position: relative;
	margin: auto;
	border-radius: 12px;
}
#conteudo2 {
	bottom: 200px;
	padding: 10px;
	position: absolute;
}
#imagens {
	width: 100%;
    height: 190px;
    left:  100px;
	position: absolute;
}
#site {
	width: 25%;
	height: 180px;
	position: absolute;
}
#suporte {
	width: 25%;
	height: 180px;
	left: 300px;
	position: absolute;
}
#codigo {
	width: 25%;
	height: 180px;
	left: 590px;
	position: absolute;
}

 Section - Contato e Endereço 
.fundo3 {
	width: 100%;
	height: 500px;
	top: 1000px;
	/*background-color: 
	background-image: url(imagens/fundo.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	position: absolute;
}
#contato {
	width: 80%;
	height: 463px;
	top: 20px;
	background-color: rgba(8, 8, 8, 0.6);
	position: relative;
	margin: auto;
	border-radius: 12px;
}
#conteudo3 {
	width: 50%;
    height: 300px;
	bottom: 150px;
	padding: 10px;
	position: absolute;
	font-family: verdana;
}
input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 12px;
}
textarea {
	height: 150px;
}
#conteudo4{
	width: 40%;
    height: 205px;
    right: 30px;
    bottom: 245px;
	padding: 10px;
	position: absolute;
	font-family: verdana;
}

 Footer 
footer {
	width: 100%;
	height: 60px;
	text-align: center;
	position: absolute;
	top: 1500px;
	background-color: rgba(169, 167, 167, 0.4);
	font-family: verdana;
	font-weight: bold;
}
.texto {
	margin: 20px;
} */

















