@media screen and (min-width: 200px) {
	body {
		margin: 0;
		padding: 0;
		font-family: Manrope;
	}

	/* Cabeçalho */
	header {
		width: 17.5rem;
		height: 10rem;
		background-image: url("imagens/fundo.jpg");
		background-repeat: no-repeat;
		background-position: right top;
		display: flex;
		justify-content: center;
	}

	.cabecalho-fundo {
		width: 14rem;
		height: 7rem;
		background-color: rgba(255, 255, 255, 0.6);
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;
		border-radius: 0.8rem;
	}

	/* Cabeçalho - Logotipo */
	#logo {
		width: 12rem;
		height: 6rem;
		margin: auto;
	}

	/* Menu */
	.menu {
		display: none;
	}

	/* Conteúdo */
	.conteudo {
		width: 17.5rem;
		height: 53rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		font-size: 0.7em;
	}

	/* Conteúdo - Sobre */
	.conteudo-sobre {
		width: 15rem;
		height: 12rem;
		background-color: rgb(255, 255, 255);
		margin: 0 auto;
		padding-top: 0.7rem;
    	padding-bottom: 0.5rem;
	}

	h1 {
		margin-top: 0;
    	margin-bottom: 0;
    	color: #00334d;
	}

	h2 {
		color: #00334d;
	}

	hr {
		margin-left: 0;
    	width: 8rem;
	}

	p {
		color: #666666;
	}

	#acesso {
		width: 10rem;
		height: 5rem;
		margin-left: 2.5rem;
    	margin-right: 2.5rem;
    	border-radius: 0.8rem;
	}

	/* Conteúdo - Mensagem */
	.conteudo-sobre-msg {
		width: 17.5rem;
		height: 14rem;
		background-color: #d3d3d3;
		margin: 0 auto;
		font-size: 0.6rem;
		text-align: center;
	}

	h2 {
		margin-bottom: 0.5rem;
	}

	.conteudo-sobre-msg p {
		width: 15rem;
		margin: 0 auto;
	}

	#site {
		width: 10rem;
		height: 5rem;
		margin-top: 0.5rem;
		margin-left: 2.5rem;
    	margin-right: 2.5rem;
    	border-radius: 0.8rem;
	}

	/* Conteúdo - Serviços */
	.conteudo-sobre-servicos {
		width: 15rem;
		height: 26rem;
		background-color: rgb(255, 255, 255);
		margin: 0 auto;
		font-size: 0.7rem;
		padding-top: 0.7rem;
    	padding-bottom: 1rem;
	}

	#conteudo-sobre-servicos-imagens {
		width: 15rem;
		height: 25rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
	}

	#imagem1, #imagem2, #imagem3 {
		width: 15rem;
		height: 8rem;
	}

	#rede, #suporte, #programacao {
		width: 10rem;
		height: 5rem;
		margin-left: 2.5rem;
    	margin-right: 2.5rem;
    	border-radius: 0.8rem;
	}

	#conteudo-sobre-servicos-imagens p {
		text-align: center;
	}

	/* Rodapé */
	footer {
		width: 17.5rem;
		height: 12rem;
		font-size: 0.7rem;
		background-color: lightgray;
	}

	/* Rodapé - Contato */
	.conteudo-sobre-contato {
		width: 15rem;
		height: 8.8rem;
		margin: 0 auto;
		padding-top: 0.5rem;
	}

	.conteudo-sobre-contato h1 {
		font-size: 1.5em;
	}

	.conteudo-sobre-contato p {
		padding-left: 1.5rem;
	}

	/* Rodapé - Redes Sociais */
	#whatsapp, #facebook, #instagram, #gmail {
		width: 1.2rem;
    	position: absolute;
	}

	#facebook, #instagram, #gmail {
		margin-top: -0.1rem;
	}

	#whatsapp {
		margin-top: 0.26rem;
	}

	/* Rodapé - Autor */
	.autor {
		width: 17.5rem;
		height: 3.5rem;
		background-color: #00334d;
		text-align: center;
	}

	.autor p {
		padding-top: 0.65rem;
    	margin-bottom: 0;
		color: rgb(255, 255, 255);
	}

	.autor p:last-child {
		padding-top: 0;
    	margin-top: 0;
	}

}


