body {
	margin: 0;
	padding: 0;
}

/* Header - Logotipo e Menu */
header {
	width: 100%;
	height: 100px;
	background-color: rgba(169, 167, 167, 0.4);
	position: absolute;
}

.logotipo {
	width: 20%;
    padding: 24px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

.menu {
	float: right;
	position: relative;
	bottom: 100px;
	padding: 24px;
}
.menu ul{
	list-style-type: none;
}

.menu li{
	padding: 45px;
	display: inline;
	position: relative;
}

.menu li a{
	text-decoration: none;
	font-family: arial;
    font-weight: bold;
}

.menu li a:hover{
	text-shadow: 2px 2px 2px rgba(125, 125, 125, 0.6);
}

/* Section - Fundo, Sobre e Conteúdo */
.fundo{
	width: 100%;
	height: 500px;
    top: 100px;
	background-image: url(imagens/rede.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	font-family: verdana;
	font-weight: bold;
}
#sobre {
	width: 80%;
	height: 460px;
	top: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	margin: auto;
	border-radius: 12px;
}
#logo {
	width: 55%;
    height: 250px;
    top: 43%;
    left: 465px;
    position: absolute;
}
#conteudo {
	bottom: 15px;
	padding: 10px;
	position: absolute;
}

/* Section - Serviços e Imagens */
.fundo2 {
	width: 100%;
    height: 400px;
    background-color: rgba(169, 167, 167, 0.4);
    position: absolute;
    top: 600px;
    font-family: verdana;
    font-weight: bold;
}
#servicos {
	width: 80%;
	height: 363px;
	top: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	margin: auto;
	border-radius: 12px;
}
#conteudo2 {
	bottom: 200px;
	padding: 10px;
	position: absolute;
}
#imagens {
	width: 100%;
    height: 190px;
    left:  100px;
	position: absolute;
}
#site {
	width: 25%;
	height: 180px;
	position: absolute;
}
#suporte {
	width: 25%;
	height: 180px;
	left: 300px;
	position: absolute;
}
#codigo {
	width: 25%;
	height: 180px;
	left: 590px;
	position: absolute;
}

/* Section - Contato */
.contato {
	width: 100%;
	height: 500px;
	top: 1000px;
	background-color: black;
	position: absolute;
}